# Copy this file to vault.yml and encrypt it with:
#   ansible-vault encrypt ansible/group_vars/all/vault.yml
#
tailscale_authkey: "tskey-auth-XXXXXXXXXXXX"

zabbix_db_password: "zabbix"
netbox_db_password: "zabbix"
netbox_redis_password: "netbox"
netbox_secret_key: "changeme-needs-50-chars-min"
grafana_admin_password: "grafana"
infrahub_db_password: "infrahub"
infrahub_security_secret_key: "changeme"   # generate: python3 -c "import uuid; print(uuid.uuid4())"
infrahub_admin_token: "changeme"           # generate: python3 -c "import uuid; print(uuid.uuid4())"
infrahub_agent_token: "changeme"           # generate: python3 -c "import uuid; print(uuid.uuid4())"
infrahub_neo4j_password: "infrahub_neo4j"
infrahub_rabbitmq_password: "infrahub_rabbitmq"