apiVersion: v1
kind: Secret
metadata:
  name: hermes-secrets
  namespace: automation
type: Opaque
stringData:
  api-server-key: "{{ hermes_api_server_key }}"
  dashboard-username: "{{ hermes_dashboard_username }}"
  dashboard-password: "{{ hermes_dashboard_password }}"
  dashboard-secret: "{{ hermes_dashboard_secret }}"
  infrahub-api-token: "{{ infrahub_admin_token }}"
  openrouter-api-key: "{{ hermes_openrouter_api_key | default('', true) }}"
  anthropic-api-key: "{{ hermes_anthropic_api_key | default('', true) }}"
  openai-api-key: "{{ hermes_openai_api_key | default('', true) }}"
