apiVersion: v1
kind: Secret
metadata:
  name: netbox-secrets
  namespace: automation
type: Opaque
stringData:
  db-password: "{{ netbox_db_password }}"
  secret-key: "{{ netbox_secret_key }}"
  redis-password: "{{ netbox_redis_password }}"