apiVersion: v1
kind: Secret
metadata:
  name: netbox-secrets
  namespace: automation
type: Opaque
stringData:
  superuser-password: "{{ netbox_superuser_password }}"
  superuser-api-token: "{{ netbox_superuser_api_token }}"
  db-password: "{{ netbox_db_password }}"
  secret-key: "{{ netbox_secret_key }}"
  redis-password: "{{ netbox_redis_password }}"